<% layout("/layout/boilerplate") -%>


<body>
    <h3>Station Maps</h3>
    <div>
        <a>Andheri</a> <-> <a>Jogeshwari</a> <-> <a>Ram Mandir</a> <->  <a>Goregaon</a> <-> <a>Malad</a> <-> <a>Kandivali</a> <-> <a>Borivali</a>
    </div>


</body>